@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    height: 100%;    
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto Flex", serif;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebece7;
}

.area-login{
    height: 48%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #0f8d50;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.head-login > span{
    height: auto;
    width: auto;
    font-size: 28px;
    color: #f5fde2;
}

.body-login{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f2fcec;
}

.div-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.div-input > span{
    height: auto;
    margin-left: 23%;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

.input-text{
    width: 80%;
    height: 45px;
    padding: 6px 10px;
    border: 1.5px solid #5c5c5c;
    border-radius: 4px;
    font-size: 18px;
    color: #272727;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-entry{
    height: auto;
    width: 80%;
    margin-left: 10%;
    font-size: 25px;
    padding: 8px 8px;
    margin-top: 55px;
    border-radius: 4px;
    background-color: rgb(15, 141, 80);
    color: #f5fde2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.button-entry:hover{
    background-color: rgba(12, 105, 60, 0.9);
    scale: 1.02;
}

@media only screen and (max-width: 910px){
    .area-login{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .head-login{
        border-radius: 0;
    }
}